%transition {
    -webkit-transition: all 0.3s linear;
    -moz-transition : all 0.3s linear;
    -o-transition : all 0.3s linear;
    transition : all 0.3s linear;
}

.slideUp {
    @extend %transition;

    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.slideDown {
    @extend %transition;

    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
